ul {
  padding: 5vmin 0;
}

h1 {
  font-family: "Kaushan Script", cursive;
  color: hsl(0, 0%, 65%);
  letter-spacing: 2px;
}

mat-chip-list {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

cv-project {
  &.odd {
    section {
      text-align: left;

      div {
        justify-content: flex-start;

        > *:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    mat-chip-list {
      justify-content: flex-start;
    }
  }

  &.even {
    section {
      text-align: right;

      div {
        justify-content: flex-end;

        > * {
          margin-left: 0.5rem;
        }
      }
    }

    mat-chip-list {
      justify-content: flex-end;
    }
  }

  section {
    div {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-size: clamp(15px, 1.8vw, 21px);
    }
  }
}

@media screen and (max-width: 1200px) {
  cv-project {
    mat-chip-list {
      justify-content: center !important;

      cv-technology-chip {
        margin-right: 0;
      }
    }

    section {
      h1 {
        text-align: center;
      }

      div {
        justify-content: center !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  cv-divider {
    display: none !important;
  }

  cv-project {
    section {
      div {
        font-size: 1.1rem;
        flex-direction: column;

        > * {
          margin: 0.25rem 0;
        }
      }
    }
  }
}
