<ul>
  <li>
    <cv-project
      id="flash-gordon"
      name="flash-gordon"
      title="Flash Gordon"
      img="assets/images/continental.png"
      class="even"
    >
      <section preContent>
        <h1>Continental AG</h1>
        <div class="text-muted">
          <span>Frontend Developer</span>
          <cv-divider></cv-divider>
          <span>Frankfurt</span>
          <cv-divider></cv-divider>
          <span>{{ "since" | translate }} 12/2020</span>
        </div>
        <mat-chip-list preContent aria-label="Technologies">
          <cv-technology-chip name="Angular"></cv-technology-chip>
          <cv-technology-chip name="RxJS"></cv-technology-chip>
          <cv-technology-chip name="Signalr"></cv-technology-chip>
          <cv-technology-chip name="Blockly"></cv-technology-chip>
        </mat-chip-list>
      </section>

      <section postContent>
        <div class="text-muted">
          <a
            class="external text-muted"
            href="https://www.continental.com/en"
            target="_blank"
          >
            Homepage</a
          >
        </div>
      </section>
    </cv-project>
  </li>
  <li>
    <cv-project
      id="norova-analytics"
      name="norova-analytics"
      title="NorOvA Analytics"
      img="assets/images/norova-analytics.jpg"
      class="odd"
    >
      <section preContent>
        <h1>Hochschule Furtwangen</h1>
        <div class="text-muted">
          <span>{{ "bachelors_degree_candidate" | translate }}</span>
          <cv-divider></cv-divider>
          <span>Furtwangen</span>
          <cv-divider></cv-divider>
          <span>03/2020 - 09/2020</span>
        </div>
        <mat-chip-list aria-label="Technologies">
          <cv-technology-chip name="React"></cv-technology-chip>
          <cv-technology-chip name="TypeScript"></cv-technology-chip>
          <cv-technology-chip name="Leaflet"></cv-technology-chip>
          <cv-technology-chip name="MariaDB"></cv-technology-chip>
        </mat-chip-list>
      </section>

      <section postContent>
        <div class="text-muted">
          <a
            class="external text-muted"
            href="https://www.hs-furtwangen.de/was-uns-bewegt/mobilitaet/forschungsprojekt-norova/"
            target="_blank"
          >
            {{ "article" | translate }}</a
          >
          <cv-divider></cv-divider>
          <a
            class="external text-muted"
            href="https://www.instagram.com/p/CCsvu0Gi88Y/"
            target="_blank"
            >Instagram Post</a
          >
        </div>
      </section>
    </cv-project>
  </li>
  <li>
    <cv-project
      id="jm-angeln"
      name="jm-angeln"
      title="J&M Angeln"
      img="assets/images/jmangeln.jpg"
      class="even"
    >
      <section preContent>
        <div class="spacer"></div>
        <div class="text-muted">
          <span>{{ "freelancer" | translate }}</span>
          <cv-divider></cv-divider>
          <span>Blumberg</span>
          <cv-divider></cv-divider>
          <span>2019 - 2020</span>
        </div>
        <mat-chip-list preContent aria-label="Technologies">
          <cv-technology-chip name="HTML"></cv-technology-chip>
          <cv-technology-chip name="CSS"></cv-technology-chip>
          <cv-technology-chip name="JavaScript"></cv-technology-chip>
          <cv-technology-chip name="Node"></cv-technology-chip>
          <cv-technology-chip name="MongoDB"></cv-technology-chip>
        </mat-chip-list>
      </section>

      <section postContent>
        <div class="text-muted">
          <a
            class="external text-muted"
            href="https://www.jmangeln.de"
            target="_blank"
            >{{ "website" | translate }}</a
          >
        </div>
      </section>
    </cv-project>
  </li>
  <li>
    <cv-project
      id="bkk-linde"
      name="bkk-linde"
      title="eServices"
      img="assets/images/eServices.jpg"
      class="odd"
    >
      <section preContent>
        <h1>BKK Linde</h1>
        <div class="text-muted">
          <span>Frontend Developer</span>
          <cv-divider></cv-divider>
          <span>Singen</span>
          <cv-divider></cv-divider>
          <span>09/2018 - 03/2020</span>
        </div>
        <mat-chip-list aria-label="Technologies">
          <cv-technology-chip name="Angular"></cv-technology-chip>
          <cv-technology-chip name="JavaScript"></cv-technology-chip>
          <cv-technology-chip name="TypeScript"></cv-technology-chip>
          <cv-technology-chip name="Java"></cv-technology-chip>
        </mat-chip-list>
      </section>

      <section postContent>
        <div class="text-muted">
          <a
            class="external text-muted"
            href="https://bkk-linde.de/"
            target="_blank"
            >Homepage</a
          >
        </div>
      </section>
    </cv-project>
  </li>
</ul>
