<section id="hero">
  <a id="github-link" href="https://github.com/alexander-merz" target="_blank">
    <img src="assets/icons/github.png" alt="Github logo" />
  </a>

  <div id="job-information">
    <div class="wrapper">
      <h1 id="occupation">IT Consultant</h1>
      <h2 id="fullname">Alexander Merz</h2>
    </div>
  </div>

  <div id="country-outline">
    <img
      id="countryShape"
      src="assets/images/germany-outline.gif"
      alt="Germany outlined"
    />
    <div cvSmoothLink href="#jm-angeln">
      <div id="blumberg" class="dot" matTooltip="J&M Angeln&#13;Blumberg"></div>
    </div>
    <div cvSmoothLink href="#bkk-linde">
      <div id="singen" class="dot" matTooltip="BKK Linde&#13;Singen"></div>
    </div>
    <div cvSmoothLink href="#bcm">
      <div
        id="stuttgart"
        class="dot"
        matTooltip="BCM Solutions&#13;Stuttgart"
      ></div>
    </div>
    <div cvSmoothLink href="#flash-gordon">
      <div
        id="frankfurt"
        class="dot"
        matTooltip="Continental&#13;Frankfurt"
      ></div>
    </div>
    <div cvSmoothLink href="#norova-analytics">
      <div
        id="furtwangen"
        class="dot"
        matTooltip="Hochschule Furtwangen&#13;Furtwangen"
      ></div>
    </div>
  </div>

  <img id="portrait" src="assets/images/portrait.webp" alt="Portrait" />
</section>
