@import "src/app/core/scss/animations";

#hero {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-800);
  padding: 0 7.5vmin;
  user-select: none;

  [cvSmoothLink] {
    cursor: pointer;
  }

  #github-link {
    background: var(--primary-900);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;

    img {
      position: absolute;
      left: 25px;
      bottom: 25px;
    }
  }

  #job-information {
    color: white;
    user-select: none;
    font-size: clamp(2.4em, 5.25vmax, 6rem);

    .wrapper {
      position: absolute;
      transform: translateY(-85%);
      background-color: var(--primary-800);
      z-index: 2;
    }

    h1 {
      font-size: inherit;
      padding-top: 0.5rem;
    }

    h2 {
      font-size: inherit;
      color: rgba(255, 255, 255, 0.33);
      padding-bottom: 0.5rem;
    }

    #fullname,
    #occupation {
      font-family: "Source Code Pro", monospace;
      overflow: hidden;
      white-space: nowrap;
      line-height: 1.2;
      margin-bottom: 0;
    }

    #fullname {
      animation: typeFullName 3s steps(14) backwards;
      animation-delay: 4s;
      margin-top: -0.6rem;
    }

    #occupation {
      animation: typeOccupation 3s steps(17) backwards;
      animation-delay: 1s;
      background: linear-gradient(
        to right top,
        rgba(255, 255, 255, 0.33),
        var(--accent-800)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @keyframes typeFullName {
      0% {
        width: 0ch;
      }
      100% {
        width: 14ch;
      }
    }

    @keyframes typeOccupation {
      0% {
        width: 0ch;
      }
      100% {
        width: 17ch;
      }
    }

    #personal {
      .name {
        font-size: clamp(2.5em, 10vw, 7em);
        line-height: 1;

        em {
          font-style: unset;
        }
      }
    }
  }

  #portrait {
    height: 87.5vh;
    align-self: flex-end;
    z-index: 3;
    filter: drop-shadow(-6mm -3mm 3mm var(--primary-900)) saturate(130%);
  }

  #country-outline {
    z-index: 0;
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.9);
    opacity: 1;
    animation: fadeIn 3s ease-out backwards;
    animation-delay: 4s;

    .dot {
      position: absolute;
      height: 1em;
      width: 1em;
      background: var(--accent-700);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      filter: none;
      animation: pulse-sm 2s infinite;

      &.current {
        animation: pulse-lg 2s infinite;
      }
    }

    #frankfurt {
      left: 140px;
      bottom: 240px;
    }

    #singen {
      left: 160px;
      bottom: 40px;
    }

    #blumberg {
      left: 135px;
      bottom: 50px;
    }

    #stuttgart {
      left: 180px;
      bottom: 125px;
    }

    #furtwangen {
      left: 115px;
      bottom: 80px;
    }

    #munich {
      right: 175px;
      bottom: 80px;
    }

    #countryShape {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.35;
      filter: invert(1);
    }
  }
}

@media screen and (min-width: 1600px) {
  #country-outline {
    transform: translateX(-50%) translateY(-50%) scale(1.25) !important;
  }
}

@media screen and (max-width: 1023px) {
  :host {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #hero {
      #country-outline {
        left: 0;
        top: 50%;
        transform: translateY(-33%) translateX(0) scale(0.65);
      }

      #job-information {
        .wrapper {
          top: 150px !important;
          left: 50%;
          transform: translateY(-50%) translateX(-50%) !important;

          h2 {
            margin-left: 0rem;
          }
        }
      }

      #portrait {
        height: 72.5vh;
      }
    }
  }
}

@media screen and (max-width: 812px) {
  :host {
    #hero {
      #github-link {
        clip-path: none;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 80px;
        border-radius: 0 50% 50% 0;
        height: 80px;

        img {
          position: relative;
          left: 7.5vmin;
          top: 0;
          zoom: 0.6;
        }
      }

      #country-outline {
        left: 0;
        transform: translateY(-33%) translateX(-10%) scale(0.55);
      }

      #portrait {
        position: absolute;
        right: 5vmin;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  :host {
    #hero {
      #country-outline {
        left: -150px;
        top: 0;
        transform: translateY(0) translateX(0) scale(0.33);
      }

      #job-information {
        .wrapper {
          top: 130px !important;
        }
      }

      #occupation {
        background: none !important;
        -webkit-background-clip: initial !important;
        -webkit-text-fill-color: initial !important;
      }

      #portrait {
        height: 70vh;
        right: 0;
        filter: drop-shadow(-2mm -1mm 1mm var(--primary-900)) saturate(130%);
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  :host {
    #hero {
      #country-outline {
        display: none;
      }

      #job-information {
        .wrapper {
          top: 50% !important;
          left: 10%;
          transform: translateY(-50%) translateX(0) !important;

          h2 {
            margin-left: 0rem;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  :host {
    #hero {
      #country-outline {
        display: initial;
      }
    }
  }
}
