<mat-toolbar color="primary">
  <span>Web Engineering Merz</span>
  <div class="spacer"></div>
  <nav>
    <a href="#about">Über mich</a>
    <a href="#career">Karriere</a>
    <a href="#services">Leistungen</a>
    <a href="#technologies">Technologien</a>
    <a href="#projects">Projekte</a>
  </nav>
  <section class="icons">
    <div class="settings">
      <button
        mat-icon-button
        id="theme-switch"
        aria-label="theme switch"
        (click)="themeService.toggleTheme()"
      >
        <mat-icon>
          {{ themeService.isLight() ? "light_mode" : "nights_stay" }}
        </mat-icon>
      </button>
    </div>
  </section>
</mat-toolbar>
