@import "~@angular/material/theming";

$accent-light: (
  50: #f9f7f1,
  100: #f1ebdc,
  200: #e8dec5,
  300: #dfd0ad,
  400: #d8c69c,
  500: #d1bc8a,
  600: #ccb682,
  700: #c6ad77,
  800: #c0a56d,
  900: #b5975a,
  A100: #ffffff,
  A200: #fff8ea,
  A400: #ffe6b7,
  A700: #ffde9d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$accent-dark: $mat-cyan;
