$primary-light: (
  50: #e0ecec,
  100: #b3cfd1,
  200: #80b0b2,
  300: #4d9093,
  400: #26787b,
  500: #006064,
  600: #00585c,
  700: #004e52,
  800: #004448,
  900: #003336,
  A100: #6ef4ff,
  A200: #3bf0ff,
  A400: #08ecff,
  A700: #00dbed,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$primary-dark: (
  50: #e4e4e6,
  100: #bbbcc1,
  200: #8e8f98,
  300: #60626e,
  400: #3e404f,
  500: #1c1e30,
  600: #191a2b,
  700: #141624,
  800: #11121e,
  900: #090a13,
  A100: #5757ff,
  A200: #2424ff,
  A400: #0000f0,
  A700: #0000d6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
