<section id="tech-stack" class="grid">
  <cv-tech
    name="HTML"
    img="assets/icons/html.svg"
    [height]="130"
    [order]="1"
  ></cv-tech>

  <cv-tech
    name="CSS"
    img="assets/icons/css.png"
    [height]="130"
    [order]="2"
  ></cv-tech>

  <cv-tech
    name="JavaScript"
    img="assets/icons/javascript.svg"
    [height]="120"
    [order]="3"
  ></cv-tech>

  <cv-tech
    name="TypeScript"
    img="assets/icons/typescript.svg"
    [height]="120"
    [order]="4"
  ></cv-tech>

  <cv-tech
    name="Node.js"
    img="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
    [height]="140"
    [order]="5"
  ></cv-tech>

  <cv-tech
    name="Web Components"
    img="assets/icons/web-components.svg"
    [height]="120"
    [order]="6"
  ></cv-tech>

  <cv-tech
    name="Angular"
    img="assets/icons/angular.png"
    [height]="140"
    [order]="7"
  ></cv-tech>

  <cv-tech
    name="React"
    img="assets/icons/react.svg"
    [height]="140"
    [order]="8"
  ></cv-tech>
</section>
