@import "~@angular/material/theming";

@import "../colors";

$dark-theme: mat-dark-theme(
  (
    color: (
      primary: mat-palette($primary-dark, 500),
      accent: mat-palette($accent-dark, 200)
    )
  )
);
