@keyframes fadeIn {
  0% {
    pointer-events: none;
    opacity: 0;
  }
  100% {
    pointer-events: initial;
    opacity: 1;
  }
}

@keyframes fadeInSlow {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
