@import "~rfs/scss";

main {
  width: 100vw;
  position: relative;

  h1.mat-display-1 {
    font-size: 2rem;
    position: relative;
    margin: auto;
    padding: 12.5vmin 1rem 5vmin;
    width: fit-content;

    &::after {
      content: "";
      position: relative;
      display: inline-block;
      height: 2px;
      width: 100%;
      max-width: 80vw;
      top: -1.5rem;
      background-color: var(--accent-600);
      border-radius: 50%;
      opacity: 0.5;
    }
  }

  #services__section {
    text-align: left;
    width: fit-content;
    padding-left: 2.5rem;
    margin: 5vmax auto 10vmax auto;
    transform: rotate(-30deg);

    h1 {
      font-size: clamp(2.321em, 6vmax, 5.75rem);
      font-weight: 100;
      line-height: 0.85;
      margin: 0;
      text-transform: uppercase;
      font-family: "Staatliches", cursive;

      &:nth-child(odd) {
        transform: skew(30deg, 0);
        color: rgb(130, 130, 130);
      }

      &:nth-child(even) {
        color: rgb(170, 170, 170);
        transform: skew(-30deg, 0);
      }
    }
  }

  #who-am-i {
    width: 65%;
    min-height: 75vh;
    margin: auto;
    text-align: justify;
    position: relative;
    hyphens: auto;

    figure {
      float: right;
      margin: 0.5rem 0 1rem 3rem;
      position: relative;
      shape-outside: circle(50%);

      figcaption {
        path {
          fill: transparent;
        }

        text {
          font-size: 2rem;
        }
      }
    }

    img {
      width: 20vmax;
      height: 20vmax;
      min-height: 250px;
      min-width: 250px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 1px solid var(--primary-500);
      padding: 2px;
    }

    .contact {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      font-size: clamp(1.05rem, 1.4vw, 1.6rem);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  main {
    #who-am-i {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 87.5% !important;

      figure {
        margin: auto auto 2rem auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-start !important;
  }
}
