<cv-header></cv-header>
<cv-hero></cv-hero>
<main>
  <h1 id="about" class="mat-display-1 text-center">
    {{ "who_am_i" | translate }}
  </h1>
  <section id="who-am-i">
    <figure>
      <img src="assets/images/working.jpg" alt="BCM Shooting" />
    </figure>
    <cv-locale-markdown path="introduction/introduction"></cv-locale-markdown>

    <br />

    <div class="contact">
      <a href="mailto:alex96merz@gmx.de">E-Mail</a>
      <cv-divider></cv-divider>
      <a
        href="https://www.xing.com/profile/Alexander_Merz18/cv"
        target="_blank"
      >
        XING
      </a>
      <cv-divider></cv-divider>
      <a
        href="https://www.linkedin.com/in/alexander-merz-b357291b8/"
        target="_blank"
      >
        LinkedIn
      </a>
    </div>
  </section>

  <div id="career">
    <h1 class="mat-display-1 text-center">Mein Werdegang</h1>
    <cv-timeline></cv-timeline>
  </div>

  <div id="services">
    <h1 class="mat-display-1 text-center">{{ "what_i_offer" | translate }}</h1>
    <section id="services__section">
      <h1>Consulting</h1>
      <h1>Developing</h1>
      <h1>Programming</h1>
      <h1>Testing</h1>
      <h1>Documenting</h1>
      <h1>UI Designing</h1>
      <h1>UX Expertise</h1>
    </section>
  </div>

  <div id="technologies">
    <h1 class="mat-display-1 text-center">
      {{ "my_tech_stack" | translate }}
    </h1>
    <cv-tech-stack></cv-tech-stack>
    <cv-tool-board></cv-tool-board>
  </div>

  <h1 class="mat-display-1 text-center">
    {{ "what_clients_say" | translate }}
  </h1>
  <cv-quote-list></cv-quote-list>
  <h1
    id="projects"
    class="mat-display-1 text-center"
    style="padding-bottom: 0; margin-bottom: 0"
  >
    {{ "projects_i_worked_on" | translate }}
  </h1>
  <cv-project-list></cv-project-list>
</main>
