<mat-chip>HTML</mat-chip>
<mat-chip>CSS</mat-chip>
<mat-chip>SCSS</mat-chip>
<mat-chip>Bootstrap</mat-chip>
<mat-chip>Stencil</mat-chip>
<mat-chip>Lit</mat-chip>
<mat-chip>Express</mat-chip>
<mat-chip>SQL</mat-chip>
<mat-chip>MongoDB</mat-chip>
<mat-chip>Git</mat-chip>
<mat-chip>Github</mat-chip>
<mat-chip>Github Actions</mat-chip>
<mat-chip>Commitizen</mat-chip>
<mat-chip>Conventional Commit Messages</mat-chip>
<mat-chip>Husky</mat-chip>
<mat-chip>Azure DevOps</mat-chip>
<mat-chip>CI</mat-chip>
<mat-chip>CD</mat-chip>
<mat-chip>npm</mat-chip>
<mat-chip>Semantic Versioning</mat-chip>
<mat-chip>Webpack</mat-chip>
<mat-chip>Babel</mat-chip>
<mat-chip>Gulp</mat-chip>
<mat-chip>Rollup</mat-chip>
<mat-chip>Vite</mat-chip>
<mat-chip>Jasmine</mat-chip>
<mat-chip>Karma</mat-chip>
<mat-chip>Jest</mat-chip>
<mat-chip>Web Test Runner</mat-chip>
