:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: 3rem auto 0;

  mat-chip {
    cursor: pointer;
    border: 1px solid var(--accent-500);
    background: transparent !important;
    font-size: 1.2rem;

    &:hover {
      background: transparent !important;
    }
  }
}

.mat-chip.mat-standard-chip::after {
  background: none !important;
}
