<section class="timeline">
  <div class="timeline__component right">
    <div class="timeline__date">März 2017</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Immatrikulation an der HFU</h2>
    <h3 class="text-muted">im Studiengang Wirtschaftsinformatik</h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">Sechsmonatiges Praxissemester</h2>
    <h3 class="text-muted">Frontend Developer bei der BKK Linde</h3>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date">September 2018</div>
  </div>

  <div class="timeline__component right">
    <div class="timeline__date">2019</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Werkstudent</h2>
    <h3 class="text-muted">BKK Linde</h3>
    <h2 class="timeline__title">Freelance-Projekt</h2>
    <h3 class="text-muted" style="margin-bottom: 0">J&M Angeln</h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">Bachelorarbeit</h2>
    <h3 class="text-muted">im Rahmen des Forschungsprojektes NorOvA</h3>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date">März 2020</div>
  </div>

  <div class="timeline__component right">
    <div class="timeline__date">August 2020</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Graduation</h2>
    <h3 class="text-muted">als B. Sc. Wirtschaftsinformatik</h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">IT Consultant</h2>
    <h3 class="text-muted">BCM Solutions</h3>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date">seit November 2020</div>
  </div>

  <div class="timeline__component right">
    <div class="timeline__date">seit Dezember 2020</div>
  </div>
  <div class="timeline__middle last">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Projekt Flash Gordon</h2>
    <h3 class="text-muted">Continental AG</h3>
  </div>
</section>
