<section class="timeline">
  <div class="timeline__component right">
    <div class="timeline__date">März 2017</div>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">
      Immatrikulation an der
      <a class="external" href="https://www.hs-furtwangen.de/" target="_blank"
        >HFU</a
      >
    </h2>
    <h3 class="text-muted">im Studiengang Wirtschaftsinformatik</h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">Sechsmonatiges Praxissemester</h2>
    <h3 class="text-muted">
      Frontend Developer bei der
      <a class="external" href="https://bkk-linde.de/" target="_blank"
        >BKK Linde</a
      >
    </h3>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component">
    <div class="timeline__date">September 2018</div>
  </div>

  <div class="timeline__component right">
    <div class="timeline__date">2019</div>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Werkstudent</h2>
    <h3 class="text-muted">BKK Linde</h3>

    <h2 class="timeline__title">Freelance-Projekt</h2>
    <h3 class="text-muted" style="margin-bottom: 0">
      <a class="external" href="https://jmangeln.de/" target="_blank"
        >J&M Angeln</a
      >
    </h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">Bachelorarbeit</h2>
    <h3 class="text-muted">
      im Rahmen des Forschungsprojektes
      <a
        class="external"
        href="https://vm.baden-wuerttemberg.de/de/politik-zukunft/zukunftskonzepte/digitale-mobilitaet/mobiarch-bw/norova/"
        target="_blank"
        >NorOvA</a
      >
    </h3>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component">
    <div class="timeline__date">März 2020</div>
  </div>

  <div class="timeline__component right">
    <div class="timeline__date">August 2020</div>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Graduation</h2>
    <h3 class="text-muted">als B. Sc. Wirtschaftsinformatik</h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">IT Consultant</h2>
    <h3 class="text-muted">
      <a class="external" href="https://bcmsolutions.de/" target="_blank"
        >BCM Solutions</a
      >
    </h3>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component">
    <div class="timeline__date">November 2020</div>
  </div>

  <div class="timeline__component right">
    <div class="timeline__date">Dezember 2020</div>
  </div>

  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Frontend Developer</h2>
    <h3 class="text-muted">
      <a class="external" href="https://www.continental.com/en/" target="_blank"
        >Continental AG</a
      >
    </h3>
  </div>

  <div class="timeline__component timeline__component--bg right">
    <h2 class="timeline__title">Frontend Engineer</h2>
    <h3 class="text-muted">
      <a class="external" href="https://www.studysmarter.de/" target="_blank"
        >StudySmarter UG</a
      >
    </h3>
  </div>

  <div class="timeline__middle last">
    <div class="timeline__point"></div>
  </div>

  <div class="timeline__component">
    <div class="timeline__date">Dezember 2021</div>
  </div>
</section>
