@import "open-props/style";
@import "open-props/normalize";

:root {
  --brand: var(--blue-7);
  --gradient: var(--gradient-7);

  --text1: var(--text1-light);
  --text2: var(--text2-light);

  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);

  --header-height: 80px;
  --content-height: calc(100vh - var(--header-height));
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--cyan-2);
    --gradient: var(--gradient-22);

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);

    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
  }

  header {
    box-shadow: var(--shadow-2);
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset;
  line-height: 1.15;
}

h1 {
  font-size: clamp(2em, calc(var(--font-size-3) + 2.9vmax), 5em);
}

h2 {
  font-size: clamp(1.9em, calc(var(--font-size-2) + 2.3vmax), 4em);
}

hr {
  margin-block: 1rem;
}

a:visited {
  color: var(--brand);
  text-decoration-color: var(--brand);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
}

header {
  height: var(--header-height);
}

header nav {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: var(--header-height);
  align-items: center;
}

header nav ul {
  font-size: 1.5em;
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  width: fit-content;
}

main {
  max-height: var(--content-height);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main section {
  height: var(--content-height);
  scroll-snap-align: start;
  display: grid;
  place-items: center;
  max-width: 80vw;
  margin: auto;
}

wc-markdown {
  max-width: inherit;
  font-family: var(--font-sans);
}

pre {
  overflow-x: auto;
}

code {
  font-family: var(--font-mono) !important;
  display: block;
  overflow-x: auto;
}

.brand {
  color: var(--brand);
}

.gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mono {
  font-family: var(--font-mono);
}

.lighter {
  font-weight: lighter;
}

.m-auto {
  margin: auto;
}

em {
  color: var(--brand);
  font-style: normal;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10vmin;

  img {
    height: clamp(13rem, 40vmin, 30rem);
    width: clamp(13rem, 40vmin, 30rem);
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width: 415px) {
  main section {
    max-width: 90vw;
  }
}

@media screen and (max-height: 500px) {
  .profile img {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-height: 320px) {
  img {
    display: none;
  }
}
