@import "open-props/style";
@import "open-props/normalize";

:root {
  --brand: var(--blue-9);
  --gradient: var(--gradient-7);

  --text1: var(--text1-light);
  --text2: var(--text2-light);

  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);

  --header-height: 60px;
  --content-height: calc(100vh - var(--header-height));
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--cyan-2);
    --gradient: var(--gradient-22);

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);

    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
  }

  #background-text {
    opacity: 0.05;
  }
}

@media (prefers-color-scheme: light) {
  #background-text {
    opacity: 0.08;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset;
  height: fit-content;
}

h1 {
  font-size: clamp(2em, calc(var(--font-size-3) + 5.8vmin), 5em);
}

h2 {
  font-size: clamp(1.9em, calc(var(--font-size-2) + 3.5vmin), 4em);
}

h3 {
  font-size: clamp(1.3em, calc(var(--font-size-1) + 1.5vmin), 3em);
}

p {
  font-size: clamp(15px, 2.5vmin, 1.25em);
}

hr {
  margin-block: 1rem;
}

a {
  color: var(--brand);
  text-decoration: underline;

  &:visited {
    color: var(--brand);
    text-decoration-color: var(--brand);
  }
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
}

header {
  background: var(--surface-1);
  height: var(--header-height);

  nav {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: var(--header-height);
    align-items: center;

    ul {
      font-size: 1.5em;
      display: flex;
      gap: 1rem;
      padding: 0 2rem;
      width: fit-content;

      li a {
        text-decoration: none;
      }
    }
  }
}

main {
  max-height: var(--content-height);
}

main section {
  position: relative;
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
  padding-block: 2rem;
}

section:is(#hero) {
  min-height: unset;
  height: var(--content-height);
  display: grid;
  place-items: center;
  overflow: hidden;
}

wc-markdown {
  max-width: inherit;
  font-family: var(--font-sans);
}

pre {
  overflow-x: auto;
}

code {
  font-family: var(--font-mono) !important;
  display: block;
  overflow-x: auto;
}

.brand {
  color: var(--brand);
}

.gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mono {
  font-family: var(--font-mono);
}

.lighter {
  font-weight: lighter;
}

.m-auto {
  margin: auto;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10vmin;

  img {
    height: clamp(13rem, 40vmin, 30rem);
    width: clamp(13rem, 40vmin, 30rem);
    object-fit: cover;
    border-radius: 50%;
  }
}

section:is(#career) {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;

  h1 {
    align-self: flex-end;
  }

  ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    li {
      display: grid;
      gap: min(4vw, 2rem);
      grid-template-columns: 30vw 1fr;
      max-inline-size: none;

      @media screen and (max-width: 600px) {
        grid-template-columns: 25vw 1fr;
      }

      img {
        margin-top: 0.4rem;
        height: max(2rem, 8vmin);
        object-fit: cover;
        justify-self: flex-end;

        &.continental-logo {
          height: max(3rem, 12vmin);
        }

        &.bkk-linde-logo {
          height: max(1.5rem, 6vmin);
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  main section {
    max-width: 90vw;
  }
}

@media screen and (max-height: 500px) {
  .profile img {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-height: 667px) {
  small {
    display: none;
  }
}

#background-text {
  position: fixed;
  top: -5%;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: visible;
  text-align: center;
  width: fit-content;
  padding-left: 2.5rem;
  margin: 5vmax auto 10vmax auto;
  transform: rotate(-30deg);
  z-index: -1;

  @media screen and (max-width: 912px) {
    top: 0;
  }

  h1 {
    font-family: var(--font-sans);
    text-transform: uppercase;
    line-height: 1;

    &:nth-child(odd) {
      transform: skew(30deg, 0);
      color: rgb(130, 130, 130);
    }

    &:nth-child(even) {
      color: rgb(170, 170, 170);
      transform: skew(-30deg, 0);
    }
  }
}
