<ul class="grid">
  <li>
    <cv-quote
      fullName="Karl Waldmannstetter"
      position="Principal Software Architect"
      employer="Selbstständiger Software-Ingenieur"
      imageSrc="assets/images/Karl_Waldmannstetter.jpg"
    ></cv-quote>
  </li>
  <li>
    <cv-quote
      fullName="Mirko Kauertz"
      position="IT Consultant"
      employer="BCM Solutions"
      imageSrc="assets/images/mirko-kauertz.jpg"
    ></cv-quote>
  </li>
  <li>
    <cv-quote
      fullName="Ronny Limbach"
      position="Bereichsleiter IT"
      employer="BKK Linde"
      imageSrc="assets/images/ronny-limbach.jpeg"
    ></cv-quote>
  </li>
</ul>
