#facts {
  @media print {
    page-break-after: always;

    h2 {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    @media print {
      padding-inline: 1rem;
      column-gap: 1rem;
    }

    li {
      position: relative;
      font-size: clamp(1rem, calc(var(--font-size-1) + 0.5vmin), 1.5rem);
      color: var(--text-2);
      padding-inline: 1.5rem;
      text-align: center;

      @media print {
        padding-left: 50px;

        .emoji {
          position: absolute;
          top: 10px;
          left: 20px;
        }
      }

      .emoji {
        margin-right: 0.5rem;
      }
    }
  }
}
