section:is(#hero) {
  display: grid;
  place-items: center;
  min-height: var(--content-height);

  .profile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vmin;

    figure {
      position: relative;

      a.social {
        background-color: #fff;
        position: absolute;
        display: block;
        height: min(12.5vmin, 5rem);
        width: min(12.5vmin, 5rem);
        border-radius: 50%;
        bottom: 0;
        right: 0;
        padding: 0;
        z-index: 1;

        img {
          height: inherit;
          width: inherit;
          object-fit: cover;
        }
      }

      img {
        height: clamp(13rem, 40vmin, 30rem);
        width: clamp(13rem, 40vmin, 30rem);
        object-fit: cover;
        border-radius: 50%;

        @media screen and (max-height: 500px) {
          height: 10rem;
          width: 10rem;
        }
      }
    }
  }
}
