section:is(#hero) {
  display: grid;
  place-items: center;
  min-height: unset;
  height: var(--content-height);

  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vmin;

    img {
      height: clamp(13rem, 40vmin, 30rem);
      width: clamp(13rem, 40vmin, 30rem);
      object-fit: cover;
      border-radius: 50%;

      @media screen and (max-height: 500px) {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}
