section:is(#tech-stack) {
  @media print {
    min-height: 100vh;
  }

  h3 {
    text-align: center;
    margin-block: min(7.5vmin, 3.75rem);
  }

  ul.primary-tech {
    width: 100%;
    padding: 5vmin 10vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(10vmin, 5rem);

    @media print {
      padding: 0;
      gap: 0;
      row-gap: 5vmin;
    }

    li {
      flex: 1 1 17.5vmin;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: 600px), print {
        gap: 0.5rem;

        .chip {
          border: none !important;
          padding-inline: 0;
        }
      }

      img {
        height: min(10rem, 17.5vmin);
        width: min(10rem, 17.5vmin);

        @media print {
          height: 7.5rem;
          width: 7.5rem;
        }
      }

      span {
        text-align: center;
      }
    }
  }

  ul.secondary-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vmin;
    width: 90%;
    margin: 2rem auto 0;

    li {
      min-width: 5rem;
      text-align: center;
    }

    @media print {
      margin-top: 10vmin;
    }
  }
}
