section:is(#tech-stack) {
  ul.primary-tech {
    width: 100%;
    padding: 10vmin;
    padding-bottom: 5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(10vmin, 5rem);

    li {
      flex: 1 1 17.5vmin;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      img {
        height: min(10rem, 17.5vmin);
        width: min(10rem, 17.5vmin);
      }
    }
  }

  ul.secondary-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vmin;
    width: 90%;
    margin: 2rem auto 0;

    .chip {
      background: var(--surface-3);
    }
  }
}
